<div>
  <div>
    <%= image_tag "profile.jpeg" %>
  </div>
  <div>
    <h1>It's Kiran </h1>
    <p>Lorem ipsum dolor amet freegan godard tofu pok pok retro. Vexillologist roof party tbh tattooed post-ironic organic meggings. Bicycle rights schlitz mustache portland organic, bespoke taxidermy tofu poke sartorial celiac meditation. Before they sold out photo booth adaptogen, pork belly sustainable hella activated charcoal tote bag thundercats small batch celiac fam. Banjo sustainable direct trade blog quinoa selvage, raclette tattooed jean shorts mixtape YOLO polaroid live-edge health goth hella. Cold-pressed tacos put a bird on it cliche farm-to-table meditation adaptogen gluten-free bushwick bespoke DIY cronut copper mug narwhal kogi. Kogi godard aesthetic palo santo hella. </p>
  </div>
</div>
